html, body {
  background-color: black;
  margin: 0;
}

.welcome {
  text-align: center;
  color: white;
  font-family: 'Righteous', cursive;
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.welcome-child1 {
  font-size: 4rem;
}

.welcome-child2 {
  font-size: 2rem;
}

.welcome-child1>img {
  width: 500px;
  height: 100px;
}

.yrDev {
  font-family: 'Fredoka One', cursive;
  color: darkorange;
  display: inline-block;
}

.withYrDv {
  color: white;
  display: inline-block;
}

.portfolioEn {
  display: inline-block;
}

.portfolioKR {
  display: inline-block;
}

button{
  background:salmon;
  color:#fff;
  border:none;
  position:relative;
  height: 50px;
  font-size:1.6em;
  padding:0 2em;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-left:50px;
  margin-right:50px;
}
button:hover{
  background:#fff;
  color:salmon;
}
button:before,button:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: salmon;
  transition:400ms ease all;
}
button:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
button:hover:before,button:hover:after{
  width:100%;
  transition:800ms ease all;
}
